{% extends "base.html" %}
{% block nav %}
{{super()}}
{% endblock %}

{% block content %}
<div class="container ">
    <div class="row">
        <div class="panel panel-info">
            <div class="panel panel-heading">Answers to frequently asked questions.</div>
            <div class="panel-body">
                <div class="panel-group" id="faqAccordion">
                    <div class="panel panel-info ">
                        <div class="panel-heading accordion-toggle question-toggle collapsed" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question0">
                            <h4 class="panel-title">
                                <a href="#" class="ing">Q: How does it work?</a>
                            </h4>

                        </div>
                        <div id="question0" class="panel-collapse collapse" style="height: 0px;">
                            <div class="panel-body">
                                <h5><span class="label label-primary">Answer</span></h5>

                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                    Aliquam sollicitudin augue eleifend massa suscipit porttitor. Nunc ac diam sem.
                                    Pellentesque dui ante,
                                    congue semper risus id, tincidunt fringilla felis. Proin mauris arcu, sagittis ut elit vel,
                                    imperdiet condimentum mi.
                                    Integer ut magna ex. Cras tortor mi, convallis ut congue at, vehicula rhoncus ex. Etiam vel leo
                                    quis neque aliquet vehicula nec eu risus. Nam interdum vehicula aliquet.</p>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-info ">
                        <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question1">
                            <h4 class="panel-title">
                                <a href="#" class="ing">Q: Why do we use it?</a>
                            </h4>

                        </div>
                        <div id="question1" class="panel-collapse collapse" style="height: 0px;">
                            <div class="panel-body">
                                <h5><span class="label label-primary">Answer</span></h5>

                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sollicitudin augue eleifend
                                    massa suscipit porttitor. Nunc ac diam sem. Pellentesque dui ante, congue semper risus id,
                                    tincidunt fringilla felis. Proin mauris arcu, sagittis ut elit vel, imperdiet condimentum mi.
                                    Integer ut magna ex. Cras tortor mi, convallis ut congue at, vehicula rhoncus ex. Etiam vel leo
                                    quis neque aliquet vehicula nec eu risus. Nam interdum vehicula aliquet.</p>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-info ">
                        <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question2">
                            <h4 class="panel-title">
                                <a href="#" class="ing">Q: What is the benefit of premium?</a>
                            </h4>

                        </div>
                        <div id="question2" class="panel-collapse collapse" style="height: 0px;">
                            <div class="panel-body">
                                <h5><span class="label label-primary">Answer</span></h5>

                                <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sollicitudin augue eleifend massa suscipit porttitor. Nunc ac diam sem. Pellentesque dui ante, congue semper risus id, tincidunt fringilla felis. Proin mauris arcu, sagittis ut elit vel, imperdiet condimentum mi. Integer ut magna ex. Cras tortor mi, convallis ut congue at, vehicula rhoncus ex. Etiam vel leo quis neque aliquet vehicula nec eu risus. Nam interdum vehicula aliquet.</p>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-info ">
                        <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question3">
                            <h4 class="panel-title">
                                <a href="#" class="ing">Q: What is the price?</a>
                            </h4>

                        </div>
                        <div id="question3" class="panel-collapse collapse" style="height: 0px;">
                            <div class="panel-body">
                                <h5><span class="label label-primary">Answer</span></h5>

                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sollicitudin augue eleifend
                                    massa suscipit porttitor. Nunc ac diam sem. Pellentesque dui ante, congue semper risus id,
                                    tincidunt fringilla felis. Proin mauris arcu, sagittis ut elit vel, imperdiet condimentum mi.
                                    Integer ut magna ex. Cras tortor mi, convallis ut congue at, vehicula rhoncus ex.
                                    Etiam vel leo quis neque aliquet vehicula nec eu risus. Nam interdum vehicula aliquet.</p>
                            </div>
                            <div class="container">


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock %}